<div style="height:60px">
</div>
<div class="d-flex flex-column align-items-center">
    <div class="project-info text-center">
        <h1>Yooka</h1>
        <p>Final Le Wagon group Rails project developing a mental health monitoring app for teenagers. Embedding TDD using Rspec. Back-end Ruby and Javascript actions to drive gamified elements within the student journey. Data visualisation for teachers using Google Charts</p>
        <p>
            <span><%= link_to 'Yooka.xyz', 'http://www.yooka.xyz' , target: :_blank %></span> / 
            <span><%= link_to 'GitHub', 'https://github.com/wabawden/Yooka', target: :_blank %></span>
        </p>
    </div>
    <div class="portfolio-container d-flex justify-content-center">
        <div class="project-phone">
            <div id="yookaCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <%= image_tag 'yooka1.png', alt:'Yooka View', class:"d-block w-100" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag 'yooka2.png', alt:'Yooka View', class:"d-block w-100" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag 'yooka3.png', alt:'Yooka View', class:"d-block w-100" %>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#yookaCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#yookaCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div style="height:60px">
    </div>
    <div class="project-info text-center">
        <h1>ChefSumo</h1>
        <p>Group Rails project using Agile and TDD principles to create an "Air-BnB-clone" with PostgreSQL, Authentication, Authorisation, AJAX and CRUD actions.</p>
        <p>
            <span><%= link_to 'chefsumo.herokuapp.com', 'http://chefsumo.herokuapp.com' , target: :_blank %></span> / 
            <span><%= link_to 'GitHub', 'http://github.com/wabawden/CHEF_SUMO', target: :_blank %></span>
        </p>
    </div>
    <div class="portfolio-container d-flex justify-content-center">
        <div class="project-phone">
            <div id="chefsumoCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <%= image_tag 'chefsumo1.png', alt:'ChefSumo View', class:"d-block w-100" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag 'chefsumo2.png', alt:'ChefSumo View', class:"d-block w-100" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag 'chefsumo3.png', alt:'ChefSumo View', class:"d-block w-100" %>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#chefsumoCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#chefsumoCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>




    <div class="project-info text-center">
      <h1>Mini-Projects</h1>
    </div>
    <div class="mini-projects">
      <div class="mini-project text-center">
        <div class="mini-project-image" style="background-image: url('<%= image_path 'ccktls.png' %>'); background-size: cover">
        <p>sadasdad</p>
        </div>
        <div class="mini-project-info">
          <h2>.ccktls</h2>
          <p>Inidividual Rails project. Cocktail and ingredient database with CRUD actions</p>
          <p>
            <span><%= link_to 'Web', 'http://ccktls.herokuapp.com' , target: :_blank %></span> / 
            <span><%= link_to 'GitHub', 'https://github.com/wabawden/rails-mister-cocktail', target: :_blank %></span>
          </p>
        </div>
      </div>
    </div>
  <div style="height: 300px"></div>
</div>